
<h3>KENO</h3>
<h4>Välj vilka nummer du vill spela med. (Obs. max 11 nummer)</h4>
<p>Antal valda nummer: @chooseNumbers.Where(n => n.IsSelected).Count() av 11</p>
<div class="row">

	
	@foreach (var item in chooseNumbers)
	{
		<input type="checkbox" class="hidden" @bind="@item.IsSelected" id="keno-@item.MyNumbers">
		@if (item.IsSelected)
		{
			<input type="checkbox" class="hidden" @bind="@item.IsSelected">
			<label for="keno-@item.MyNumbers" style="background-color: red" class="round-button">@item.MyNumbers</label>
		}
		else
		{
			<input type="checkbox" class="hidden" @bind="@item.IsSelected">
			<label for="keno-@item.MyNumbers"  class="round-button">@item.MyNumbers</label>
		}
	}


	
</div>
<h3>Valda nummer: </h3>
@foreach (var number in chooseNumbers.Where(n => n.IsSelected))
{
	<p>@number.MyNumbers</p>
}


@code
{
	private List<ListItem> chooseNumbers = Enumerable.Range(1, 70).Select(i => new ListItem { MyNumbers = i }).ToList();
}
	

	

