
<h3>KENO</h3>
<h4>Välj vilka nummer du vill spela med. (Obs. max 11 nummer)</h4>

<div class="row">

	<h3>@selectedCount av @MaxNumber nummer valda</h3>
	@foreach (var item in chooseNumbers)
		
		
	{
		<input type="checkbox" class="hidden keno-checkbox" @bind="@item.IsSelected" @onclick="ChosenNumber" id="keno-@item.MyNumbers"/>
		@if (item.IsSelected)
			
		{

			<input type="checkbox" class="hidden" @bind="@item.IsSelected" @onclick="ChosenNumber">
			<label for="keno-@item.MyNumbers" style="background-color: red" class="round-button">@item.MyNumbers</label>
		}
		else
		{
			<input type="checkbox" class="hidden" @bind="@item.IsSelected"/>
			<label for="keno-@item.MyNumbers" class="round-button">@item.MyNumbers</label>
		}

	
	
	}


	
</div>
<h3>Valda nummer: </h3>
@foreach (var number in chooseNumbers.Where(n => n.IsSelected))
{
	<p>@number.MyNumbers</p>	
	
}



@code
{

	private List<ListItem> chooseNumbers = Enumerable.Range(1, 70).Select(i => new ListItem { MyNumbers = i }).ToList();
	private int selectedCount { get; set; } = 0;
	private int MaxNumber { get; set; } = 11;
	

	private void ChosenNumber()

	{
		foreach (var number in chooseNumbers.Where(n => n.IsSelected))
		if (!chooseNumbers.Contains(number))
				chooseNumbers.Add(number);
				selectedCount++;
		Console.WriteLine(selectedCount);
	}	
	
	
	
	//else if (chooseNumbers[i].IsSelected)
			//{
			//	chooseNumbers[i].IsSelected = false;
			//	selectedCount--;
			//	Console.WriteLine("Valda element:", selectedCount);
		
	}
	

	

